@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - devoops</title>
    <meta name="description" content="@ViewData["Description"]" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/devoops.styles.css" asp-append-version="true" />
</head>
<body>
    <header >
        <article class="p-3" style="background: var(--bs-grandient);">
            <div class="container-md">
                <div>
                    <span class="text-white">
                        <h1>ObrasCorps Analytics</h1>
                        <p>Evolução de Obras - Análise Detalhada</p>
                    </span>
                </div>
            </div>
        </article>
    </header>
    <br>
    <header>
        <article>
            <div class="container-md">
                <nav style="border-radius: 15px;" class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-grow-1 gap-3 justify-content-center">
                            <li class="nav-item">
                                <a style="display: flex; " class="nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "") d-flex align-items-center gap-2"
                                asp-controller="Home" asp-action="Index"
                                onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius='5px';"
                                onmouseout="if(!this.classList.contains('active')) { this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius='5px'; }">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                </svg>
                                Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "Projetos" ? "active" : "")"
                                asp-controller="Projetos" asp-action="Index"
                                onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius='5px';"
                                onmouseout="if(!this.classList.contains('active')) { this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius='5px'; }">
                                Projetos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "Colaboradores" ? "active" : "")"
                                asp-controller="Colaboradores" asp-action="Index"
                                onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius='5px';"
                                onmouseout="if(!this.classList.contains('active')) { this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius='5px'; }">
                                Colaboradores
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "Fornecedores" ? "active" : "")"
                                asp-controller="Fornecedores" asp-action="Index"
                                onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius='5px';"
                                onmouseout="if(!this.classList.contains('active')) { this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius='5px'; }">
                                Fornecedores
                                </a>
                            </li>
                        </ul>

                        </div>
                    </div>
                </nav>
            </div>    
        </article>        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - devoops - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
